html, body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
 
}
div {
  padding-right: 30px;
  height: 100%;
  width: 100%;
}
.container {
  display: flex;
}

.main {
  padding-left: 30px;
  padding-right: 30px;
  min-width: 25%;
  background-color: #F5F5F5;
  border-style: double;
  text-align: center;
  margin: 10px 5px 10px 5px;
  max-width: 65%;
  min-width: 140px;
}

.nav {
  background-color: #1E90FF;
  max-width: 15%;
  min-width: 210px;
  flex: 1;
  padding-left: 30px;
  padding-right: 30px;
  border-style: double;
  margin: 10px 5px 10px 5px;
}
